@tailwind base;

@font-face {
    font-family: 'DroidKufi';
    src: url('./fonts/DroidKufi-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'LibreBaskerville';
    src: url('./fonts/LibreBaskerville-Regular.ttf') format('truetype');
}

@tailwind components;

html{
    font-size: 14px !important;
}

body{
    max-width: 1400px !important;
    margin: 0 auto;
}

.btn{
    @apply rounded-full px-4 py-2 focus:outline-none
}

.btn-red{
    @apply btn bg-red-800 text-white  hover:bg-red-700;
}

.btn-yellow{
    @apply btn text-gray-600 bg-yellow-800 hover:bg-yellow-700 focus:bg-yellow-600 disabled:bg-black-300;
}

.btn-white{
    @apply btn text-gray-600 bg-white hover:bg-yellow-200 focus:bg-yellow-300 disabled:text-black-100 border border-black-100;
}

@tailwind utilities;
